/* Styles for header and footer sections */
.common-section {
    height: 12vh;
    width: 100%;
    background-color: #eeeeee;
}

/* Search field size */
.search-field {
    width: 30%;
    /* margin-top: -30px; */
}

/* Changes the box-shadow of the input when clicked */
.search-field .form-control:focus {
    box-shadow: none;
    border-color: #6c757d;
}

/* Remove button appearance from search field */
.search-field .btn:hover{
    background-color: white;
    color: #6c757d;
    cursor: default;
}

/* Aligns the number of results found on the left */
#number-results-found {
    width: 30%;
}

#number-results-found p {
    align-self: flex-start;
}

/* Styling for subtle texts */
.subtle-text {
    font-size: 13px;
    color: #a1a1a1;
}

/* Card size */
.card {
    width: 28.5rem;
}

/* Card header styling */
.card-header {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Card title styling */
.card-title {
    color: #494949;
    font-weight: bold;
    font-size: 18px;
}

/* Disable list borders */
.list-group-item {
    border-color: transparent;
}

/* Aligns the items of the list in 3 columns */
.grid-item {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    gap: 35px; 
    align-items: center; 
}

/* Aligns the items of the list in 2 columns */
.grid-item-double-column {
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 10px; 
    align-items: center; 
}

/* Set a fixed width for the ID column */
.id-column {
    width: 80px;
    margin-right: 10px; 
}

/* Style for order ID */
.order-ID {
    color: #bd231e;
    text-decoration: underline;
}

/* Responsive design */

/* Mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {

    /* Change the size of the header and footer sections */
    .common-section {
        height: 8vh;
    }

    /* Change the search field size */
    .search-field {
        width: 70%;
    }

    /* Change the size of the div that houses the number of results found text */
    #number-results-found {
        width: 70% !important;
    }

    /* Change the card size */
    .card {
        width: 19rem;
    }

    /* Change the layout of the header information in the card to block */
    .card-header {
        display: block;
    }

    /* Change the layout of the item list to a single column */
    .grid-item {
        grid-template-columns: 1fr;
        row-gap: 0;
    }
}

/* iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {

    /* Change the size of the header and footer sections */
    .common-section {
        height: 8vh;
    }

    /* Change the search field size */
    .search-field {
        width: 50%;
    }

    /* Change the size of the div that houses the number of results found text */
    #number-results-found {
        width: 50% !important;
    }

    /* Change the card size */
    .card {
        width: 21rem;
    }

    /* Change the layout of the header information in the card to block */
    .card-header {
        display: block;
    }

    /* Change the layout of the item list to a single column */
    .grid-item {
        grid-template-columns: 1fr;
        row-gap: 0;
    }
}

/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* Change the size of the header and footer sections */
    .common-section {
        height: 9vh;
    }

    /* Change the search field size */
    .search-field {
        width: 40%;
    }

    /* Change the size of the div that houses the number of results found text */
    #number-results-found {
        width: 40% !important;
    }

    /* Change the card size */
    .card {
        width: 22rem;
    }

    /* Change the layout of the header information in the card to block */
    .card-header {
        display: block;
    }
}